{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    В данной программе могут работать три группы пользователей:
    Клиент: способен просматривать список авто "В наличии" и бронировать их для взятия в прокат.
    Сотрудник: способен подтверждать выдачу забронированных авто и выдавать их сам.
    Администратор: способен управлять сделками, способен добавлять новые авто и клиентов, редактировать данные об авто.
</p>
