@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Выполнил работу:<br />
    Петухов Александр Сергеевич <br />
    Студент группы Би17-2 <br />
</address>