@{
                ViewBag.Title = "Home Page";
}

<div>
    <p><center>Выберите свою группу пользователя.</center></p>
    <p>
        @using (Html.BeginForm("Index_Client", "Cars", FormMethod.Post))
        {<center></center><br>
            <center><button>Клиент</button></center>
        }

    </p>
    <p>
        @using (Html.BeginForm("Click_Employee", "Home", FormMethod.Post))
        {<center></center><br>
            <center><button>Сотрудник</button></center>
        }

    </p>
    <p>
        @using (Html.BeginForm("Click_Admin", "Home", FormMethod.Post))
        {
            <center></center><br>
            <center><button>Администратор</button></center>
        }

    </p>

</div>