
@{
    ViewBag.Title = "Password";
}

<h2>Прошу пароль</h2>

<div>
    <center> Пароль: <input type="password" name="password_" required="required"></center>
    <p>
        @using (Html.BeginForm("Click_OK", "Home", FormMethod.Post))
        {<center></center><br>
            <center><button>OK</button></center>
        }

    </p>

    <p><center>Введите пароль выбранной группы пользователя.</center></p>
</div>
