@model IEnumerable<Cars_Trade.Models.Clients>

@{
    ViewBag.Title = "Index";
}

<h2>Наши клиенты</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ФИО)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Номер_телефона)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ФИО)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Номер_телефона)
        </td>
    </tr>
}

</table>
